<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.course.server.mapper.my.MyCourseMapper" >

    <!-- web端【全部课程】页面，查询课程列表 -->
    <select id="list" resultType="com.course.server.dto.CourseDto">
        select c.id, c.name, c.summary, time, c.image, online,
                status, category, enroll, sort, create_at as createdAt,
               update_at as updatedAt, teacher_id as teacherId, t.name as teacherName
        from `course` c, courseimooc.`teacher` t
        <if test="pageDto.categoryId != null and pageDto.categoryId != ''">
            , course_category cc
        </if>
        where c.teacher_id = t.id
        <if test="pageDto.categoryId != null and pageDto.categoryId != ''">
            and c.id = cc.course_id
            and cc.category_id = #{pageDto.categoryId}
        </if>
        <if test="pageDto.status != null and pageDto.status != ''">
            and c.status = #{pageDto.status}
        </if>
        order by c.sort asc
    </select>
    <select id="search" resultType="com.course.server.dto.CourseDto">
        select * from course where teacher_id = (select id from teacher where name = #{teacherName})
    </select>

    <update id="updateTime">
        update course c set `time` = (select sum(`time`) from `section` where course_id = #{courseId})
        where c.id = #{courseId}
    </update>

    <update id="updateSort" parameterType="com.course.server.dto.SortDto">
        update course set `sort`= #{newSort} where id = #{id}
    </update>

    <update id="moveSortsBackward" parameterType="com.course.server.dto.SortDto">
        <![CDATA[
        update course set `sort`= (`sort`+1) where `sort` >= #{newSort} and `sort` <= #{oldSort} and id != #{id}
        ]]>
    </update>

    <update id="moveSortsForward" parameterType="com.course.server.dto.SortDto">
        <![CDATA[
        update course set `sort`= (`sort`-1) where `sort` <= #{newSort} and `sort` >= #{oldSort} and id != #{id}
        ]]>
    </update>
    <update id="updateEnroll">
        update course set courseimooc.course.`enroll`= #{enroll} where id = #{courseId}
    </update>
</mapper>
